<section class="row-fluid section-{{color}}">
	<div class="span4 left">
		<h2>{{{upcase title}}}</h2>
	</div>

	<div class="span8 right section-content">
		{{#elements}}
			<article {{#extract_tags_classes}}{{{text}}}{{/extract_tags_classes}}>
			    <header>
					<h3>{{title}}</h3>

                    <div class="clearfix"></div>

					{{#if link}}
						<div><a class="article-link" href="{{link}}">{{link}}</a></div>
					{{/if}}
				</header>

				<div class="article-content">
					<p>
	                    {{#parse_tags}}{{{text}}}{{/parse_tags}}
                    </p>
				</div>
			</article>
		{{/elements}}
	</div>
</section>