<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{{site-title}}}</title>
	<meta name="description" content="{{{site-description}}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}

	<script type="text/javascript" id="inspectletjs">
		var __insp = __insp || [];
		__insp.push(['wid', 611426172]);
		(function() {
			function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet-jq.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
			if (window.attachEvent){
				window.attachEvent('onload', __ldinsp);
			}else{
				window.addEventListener('load', __ldinsp, false);
			}
		})();
	</script>
</head>
<body>
	<div class="row-fluid fixed-top header-bar">
		<div class="span4 left"><h1 class="left-content"><a class="header-title" href="">{{header.title}}</a></h1></div>

		<nav role="navigation"class="span8 right">
			<ul id="list-social">
				{{#navbar}}
					<li><a class="btn-social {{icon}}" href="{{href}}" target="{{target}}"><span></span></a></li>
				{{/navbar}}
			</ul>
		</nav>
	</div>

	<div class="content">
		{{#blocks}}
			{{> block }}
		{{/blocks}}

		<div class="hidden-phone row-fluid">
			<div class="span4 background-left"></div>
		</div>
	</div>

	<!--<script type="text/javascript" src="filter.js"></script>-->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-38697751-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
