<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{{site-title}}}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
</head>
<body>
	<div class="row-fluid fixed-top header-bar">
		<h1 class="span4 left">{{header.title}}</h1>

		<nav role="navigation"class="span8 right">
			<ul id="list-social">
				{{#navbar}}
					<li><a class="btn-social {{icon}}" href="{{href}}" target="{{target}}"><span></span></a></li>
				{{/navbar}}
			</ul>
		</nav>

		<a class="clear-filter-btn" onclick='return clearFilterTag();' href='#'>clear</a>
	</div>

	<div class="content">
		{{#blocks}}
			{{> block }}
		{{/blocks}}

			<!--<h1>DATE: {{#tag}}je te @@web:Website avec le @@mobile{{/tag}}</h1>-->
			<!--<h1>DATE: {{#tagB}}web:WebsiteROX{{/tagB}}</h1>-->
			<!--<h1>DATE: {{#tag}}Web{{/tag}}</h1>-->

		<div class="hidden-phone row-fluid">
			<div class="span4 background-left"></div>
		</div>
	</div>

	<script src="filter.js"></script>
	<script src="http://jsconsole.com/remote.js?X180G1CD-13A0-4523-AE36-856BAB1474H6"></script>
</body>
</html>

